@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fdfff5;
}

html{
    scroll-behavior: smooth;
}
.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
}
.intro{
    margin: 5px;
    padding: 15px;
    background:url(./resources/download.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 50%;
}
.intro p{
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    font-weight: bolder;
    color: whitesmoke;
}
.avatar {
    margin: 20px;
    background-color: transparent;
    align-content: center;
    padding-bottom: 2px;
}
.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    border-radius: 50%;
}


.service {
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 15px;
    background-image: linear-gradient(#fff7e6, #ccccff);
}
.service h3{
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: mediumblue;
    background-color: transparent;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 50%;
    text-decoration-skip: ink;
    text-decoration-color: goldenrod;
    padding-bottom: 15px;
}
.service p{
    background-color: transparent;
}

.ping .fas{
    font-size: 1.06rem;
    background: #796c6c;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.ping .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.ping .phone{
    margin: 10px 0;
}

#contact {
    margin: auto;
    
}

#contact h3, h4{
    color: mediumblue;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 20%;
    text-decoration-skip: ink;
    text-decoration-color: goldenrod;
    padding-bottom: 15px;
}
#contact form .msg{
    font-size:1.06rem;
    margin-bottom: 2px;
}
#contact form input:focus,
#contact form textarea:focus{
    outline-color: #3498db;
}
#contact form input, #contact form textarea {
    width : 100%;
    padding-top: 15px;
    border: 1px solid rgb(216, 208, 219);
}
#contact form input{
    height: 35px;
}

#contact form .btn{
    margin-top: 10px;
}
#contact form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
}
